@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=WDXL+Lubrifont+TC&display=swap');

@media (max-width: 1150px) {
    .imagen{
        justify-content: center;
        margin-top: 1rem;
    }

    .imagen img{
        height: 40vh;
    }
    header{
        flex-direction: column;
        align-items: center;
        align-items: center;
        text-align: center;
        gap: 1rem;
        margin: 0 auto;
        width: 100%;
    }
    .nombre{
        font-size: 28px;
        text-align: center;
    }
    nav.menu{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        gap: 1rem;
    }
    body{
        padding: 1rem;
    }
}

* {
    font-family: "WDXL Lubrifont TC", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    color: white;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    padding: 3rem;
    overflow-x: hidden;
    background: linear-gradient(to bottom, rgb(6, 24, 36), rgb(1, 123, 174));
}

main{
    border-radius: 35px;
}

.todo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    background: rgb(8, 27, 41);
    width: 100%;
    min-height: 92vh;
    height: auto;
    border-radius: 35px;
    box-shadow: 0 0 30px 25px rgba(0, 0, 0, 0.8);
    padding: 4rem 6rem;
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    padding: 0;   
    margin: 0;
    margin-right: auto; 
    align-self: flex-start;
    width: 100%;
}

.nombre{
    font-size: 32px;
    white-space: nowrap;
    margin: 0;
}

nav.menu{
    display: flex;
    gap: 1.5rem;
    margin: 0;            
    padding: 0;
}


nav.menu a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 18px;
    transition: color 0.3s;
}

nav.menu a:hover{
    color: #00bfff;
}

.imagen{
    display: flex;
    align-items: center;
    height: 100%;
}

.imagen img{
    max-width: 100%;
    height: auto;
    margin-right: 0;
    opacity: 0.8;
}
